.wd-course-card-col {
    width: 260px; 
    margin-top: 20px;
}

.wd-card-image {
    max-height: 150px;
}

.wd-card-title {
    text-decoration: none; 
    color: pink;
    font-weight: bold;
}

.wd-three-dot-menu {
    text-align: right; 
    margin-right: 5px; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    border-left: 0;
}

.wd-dashboard {
    background-color: beige;
}

.wd-dashboard-component {
    padding-top: 10px;
    margin-left: 15px;
    padding-left: 0px;
    padding-right: 100px;
    color: #0a53be;
}

.form-control {
    background-color: pink;
}